.login-container {
  background: linear-gradient(135deg, #021D49, #0ABD67);
}

.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.btn{
  background: #0ABD67;
  border: none;
}